<!DOCTYPE html>
<html lang="fa">
<head>
    <meta charset="UTF-8">
    <title>Image Extractor</title>
    <!-- لینک فایل CSS -->
    <link rel="stylesheet" href="/templates/style.css">
    <!-- فونت وزیر از CDN -->
    <link href="https://cdn.fontcdn.ir/Font/Persian/Vazir/Vazir.css" rel="stylesheet">
</head>
<body>
<h1>این برنامه وب با استفاده از regex فایل‌های شما را استخراج می‌کند</h1>

<form action="/submit" method="post">
    <label for="link">لینک را وارد کنید:</label>
    <input type="url" id="link" name="link" placeholder="https://example.com" required>
    <input type="submit" value="ارسال" class="btn">
</form>

<footer>developed by A.H.K</footer>
</body>
</html>